<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DustSuckerWeb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DustSuckerWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/catalog.css" asp-append-version="true">
</head>
<body>
    <header class="bg-white border-bottom box-shadow fixed-top">
        <nav class="navbar navbar-expand-sm navbar-light container-fluid d-flex align-items-center justify-content-between py-2">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="/logo/TitleDS.png" height="50" alt="Логотип">
            </a>

            <form class="d-flex flex-grow-1 mx-3">
                <input class="form-control" type="search" placeholder="Введите запрос..." aria-label="Поиск">
            </form>

            <div class="d-flex">
                <a href="/Favorites" class="btn btn-outline-secondary me-2 small-btn">
                    <img src="/svgs/favorites.svg" />
                </a>
                <a href="/Cart" class="btn btn-outline-secondary me-2 small-btn">
                    <img src="/svgs/cart.svg" />
                </a>
                <a href="/Profile" class="btn btn-outline-secondary small-btn">
                    <img src="/svgs/user.svg" />
                </a>
            </div>

            <partial name="_LoginPartial" />
        </nav>
    </header>

    <div class="container main-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DustSuckerWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
